<div class = 'del-list' id = 'item<%=numId%>'>
    <span class = 'item-description' data-toggle="tooltip" data-placement = 'bottom' title = "<%=description%>"><%=description%></span>
    <div class = 'right-side'>
        <div class = 'item-date' data-toggle="tooltip" data-placement = 'bottom' title = "<%=date%>"><span><%=date%></span></div>
        <div class = 'item-cost' data-toggle="tooltip" data-placement = 'bottom' title = "<%=cost%>₴"><%=cost%>₴</div>
    </div>
    <br>
    <span class = 'item-status' data-toggle="tooltip" data-placement = 'bottom' title = "<%=fullStatus%>">Status: <%=status%></span>
    <span class = 'item-dest' data-toggle="tooltip" data-placement = 'bottom' title = "<%=fullDestination%>">Destination: <%=destination%></span>
</div>