<div class = 'del-list' id = 'item<%=numId%>'>
    <span class = 'item-description'><%=description%></span>
    <div class = 'right-side'>
        <div class = 'item-date'><span><%=date%></span></div>
        <div class = 'item-cost'><%=cost%>₴</div>
    </div>
    <br>
    <span class = 'item-status'>Status: <%=status%></span>
    <span class = 'item-dest'>Destination: <%=destination%></span>
</div>