<div class = 'col-sm-12 col-md-6 col-lg-4 col-xl-4 card product-list' id = 'item<%=product.id%>'>
    <img src="<%=product.icon%>" alt="">
    <span class = 'item-description'><%=product.description%></span>
    <div class = 'right-side'>
        <div class = 'item-date'><span><%=product.date%></span></div>
        <div class = 'item-cost'><%=product.cost%>₴</div>
    </div>
    <br>
    <button class="addProductToCart">Buy</button>
</div>