<div class = 'col-sm-12 col-md-6 col-lg-4 col-xl-4 product-list mr-auto' id = '<%=product.id%>'>
    <img src="<%=product.icon%>" alt="">
    <p class = 'item-description'><%=product.description%></p>
    <div class = 'right-side'>
        <div class = 'item-date'><span><%=product.date%></span></div>
        <p class = 'price'><%=product.cost%>₴</p>
    </div>
    <br>
    <button class="addProductToCart">Buy</button>
</div>

